body {
    background-color: #0A0A0A;
    font-family: monospace;
    color: #EFEAF1;
    max-width: 500px;
    margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #EFEAF1;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #C870FF;
}

a:hover {
    color: #A365F9;
}

.bold {
    font-weight: bold;
}