body {
    background-color: #543E9E;
    font-family: monospace;
    color: #C7CEF2;
    max-width: 500px;
    margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #C7CEF2;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #F7CE4F;
}

a:hover {
    color: #FACB86;
}

.bold {
    font-weight: bold;
}