body {
    background-color: #18141A;
    font-family: monospace;
    color: #D9C2F5;
    max-width: 500px;
    margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #89BDBB;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #6F3186;
}

a:hover {
    color: #194045;
}

.bold {
    font-weight: bold;
}